@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
mdb-form-control {
    margin-bottom: 2em;
    margin-top: 2em;
}
@include media-breakpoint-up(lg) {
    form {
        padding-left: 20%;
        padding-right: 20%;
    }
}
