<header>
    <app-top-bar></app-top-bar>
</header>
<body>
    <div class="mt-5" id="content">
        <h1>New Patients</h1>
        <mdb-accordion [flush]="true">
            <mdb-accordion-item *ngFor="let item of content">
                <ng-template mdbAccordionItemHeader>{{item.header}}</ng-template>
                <ng-template mdbAccordionItemBody>
                    {{item.body}}
                </ng-template>
            </mdb-accordion-item>
        </mdb-accordion>
    </div>
</body>