<header>
    <!-- Navbar -->
    <app-top-bar [pic]="'../../assets/images/facilities/building.jpg'"></app-top-bar>
    <!-- Navbar -->
</header>

<body class="text-center">
    <div id="content">
        <h1>About Us</h1>
        <p>
            This is a bunch of random text because we need to fill this in at a later date.
            Don't worry this is a certified text that is not copyrighted in anyway.
            I hope that this will be replaced eventually. HURRY UP.
        </p>
    </div>
    <div id="content">
        <h1>Our Mission</h1>
        <p>
            WOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO

        </p>
    </div>
    <div id="content">
        <h1>Dr.Phan Excerpt</h1>
        <p>
            Put content here
        </p>
    </div>
</body>