<header>
    <!-- Navbar -->
    <app-top-bar></app-top-bar>
    <!-- Navbar -->
    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="
        background-image: url('../../assets/images/RDR\ mountains..jpg');
        height: 625px; width:100%;
      ">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">CURRENT TRIALS ACTIVE AT RARE DISEASE RESEARCH</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>
<div class="container-fluid" id="content"><hr>
    <div class="row">
        <div class="col-8">
            <h3>Duchenne Muscular Dystrophy</h3>
            <p>Duchenne muscular dystrophy (DMD) is a genetic disorder characterized by progressive muscle degeneration and weakness due to the alterations of a protein called dystrophin that helps keep muscle cells intact. DMD is one of four conditions known as dystrophinopathies.</p>
        </div>
        <div class="col-4">
            <mdb-accordion [flush]="true">
                <mdb-accordion-item>
                  <ng-template mdbAccordionItemHeader>Accordion Item #1</ng-template>
                  <ng-template mdbAccordionItemBody>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                  <ng-template mdbAccordionItemHeader>Accordion Item #2</ng-template>
                  <ng-template mdbAccordionItemBody>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                  <ng-template mdbAccordionItemHeader>Accordion Item #3</ng-template>
                  <ng-template mdbAccordionItemBody>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </ng-template>
                </mdb-accordion-item>
              </mdb-accordion>
        </div><hr>
    </div>
    <div class="row">
        <div class="col-8">
            <h3>Duchenne Muscular Dystrophy</h3>
            <p>Duchenne muscular dystrophy (DMD) is a genetic disorder characterized by progressive muscle degeneration and weakness due to the alterations of a protein called dystrophin that helps keep muscle cells intact. DMD is one of four conditions known as dystrophinopathies.</p>
        </div>
        <div class="col-4">
            <mdb-accordion [flush]="true">
                <mdb-accordion-item>
                  <ng-template mdbAccordionItemHeader>Accordion Item #1</ng-template>
                  <ng-template mdbAccordionItemBody>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                  <ng-template mdbAccordionItemHeader>Accordion Item #2</ng-template>
                  <ng-template mdbAccordionItemBody>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                  <ng-template mdbAccordionItemHeader>Accordion Item #3</ng-template>
                  <ng-template mdbAccordionItemBody>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </ng-template>
                </mdb-accordion-item>
              </mdb-accordion>
        </div><hr>
    </div>
    <div class="row">
        <div class="col-8">
            <h3>Duchenne Muscular Dystrophy</h3>
            <p>Duchenne muscular dystrophy (DMD) is a genetic disorder characterized by progressive muscle degeneration and weakness due to the alterations of a protein called dystrophin that helps keep muscle cells intact. DMD is one of four conditions known as dystrophinopathies.</p>
        </div>
        <div class="col-4">
            <mdb-accordion [flush]="true">
                <mdb-accordion-item>
                  <ng-template mdbAccordionItemHeader>Accordion Item #1</ng-template>
                  <ng-template mdbAccordionItemBody>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                  <ng-template mdbAccordionItemHeader>Accordion Item #2</ng-template>
                  <ng-template mdbAccordionItemBody>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </ng-template>
                </mdb-accordion-item>
                <mdb-accordion-item>
                  <ng-template mdbAccordionItemHeader>Accordion Item #3</ng-template>
                  <ng-template mdbAccordionItemBody>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </ng-template>
                </mdb-accordion-item>
              </mdb-accordion>
        </div><hr>
    </div>
</div>
