@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
mdb-form-control {
    margin-bottom: 2em;
    margin-top: 2em;
}
@include media-breakpoint-up(lg) {
    form {
        padding-left: 20%;
        padding-right: 20%;
    }
}
.btn {
    background-color: rgb(103, 47, 156);
    color: white;
  }
