<header>
    <!-- Navbar -->
    <app-top-bar></app-top-bar>
    <!-- Navbar -->

    <body>
        <div class="container-fluid mt-5" id="content">
            <div class="row">
                <div class="col-sm-12 col-md">
                    <h1>Our Office:</h1><br>
                    <h5>Address:</h5>
                    <p>1730 NE EXPY NE, ATLANTA, GA 30329</p>
                    <h5>Hours:</h5>
                    <p>Monday – Friday <br> 8:00am – 4:30pm</p>
                    <h5>Contact Info:</h5>
                    <p><i class="fas fa-phone"></i> Phone : 678-883-6897 / 678-552-3640<br>
                        <i class="fas fa-print"></i> Fax : 678-550-8877<br>
                        <i class="fas fa-envelope"></i> Email : info@rarediseaseresearch.com
                    </p>
                </div>
                <div class="col-sm-12 col-lg ratio ratio-4x3">
                    <h1></h1>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.984615519041!2d-84.32550838479057!3d33.838507380664545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5051e7cbf63bf%3A0xc5f0386429327b51!2sRare%20Disease%20Research%20Center!5e0!3m2!1sen!2sus!4v1647180960691!5m2!1sen!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
                <div class="text-center">
                    <h1 class="pt-5">Contact Us</h1>
                    <form #formdata = "ngForm" (ngSubmit) = "onClickSubmit(formdata.value)" >
                        <!-- Name input -->
                        <mdb-form-control>
                            <input mdbInput #name="ngModel" minlength=2 type="text" name="name" id="typeText" class="form-control" ngModel required>
                            <label mdbLabel class="form-label" for="typeText">Name</label>
                            <mdb-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">*Name is required</mdb-error>
                        </mdb-form-control>
                        
                        <!-- Email input -->
                        <mdb-form-control>
                            <input mdbInput #email="ngModel" type="email" name="email" id="typeEmail" class="form-control" ngModel required email=True/>
                            <label mdbLabel class="form-label" for="typeEmail">Email</label>
                            <mdb-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">*Email is required</mdb-error>
                        </mdb-form-control>

                        <!-- Message input -->
                        <mdb-form-control>
                            <textarea mdbInput #message="ngModel" class="form-control" name="message" id="textArea" rows="4" ngModel required></textarea>
                            <label mdbLabel class="form-label" for="textArea">Message</label>
                            <mdb-error *ngIf="message?.invalid && (message?.dirty || message?.touched)">*Message is required</mdb-error>
                        </mdb-form-control>

                        <!-- Submit button -->
                        <button type="submit" name="submit" [disabled]="!formdata.valid" class="btn-secondary btn btn-lg">Submit</button>
                    </form>
                </div>
        </div>
    </body>