<header>
  <!-- Navbar -->
  <app-top-bar></app-top-bar>
  <!-- Navbar -->
  <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
        background-image: url('assets/images/RDR\ mountains..jpg');
        height: 625px;
      ">
    <div class="mask" style="background-color: rgba(251, 251, 251, 0.3);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 display-2">Rare Disease Research</h1>
          <h4 class="mb-3">Supporting research through exceptional clinical trial experience</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>

<body class="text-center">
  <div id="content">
    <h1>Facility</h1>
    <!-- Carousel for images -->
    <mdb-carousel class="mx-auto" [controls]="true" [indicators]="true">
      <mdb-carousel-item *ngFor="let photo of photos">
        <img [src]="photo.path" class="img-fluid" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ photo.title }}</h5>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div id="content" *ngFor="let section of sections">
    <h1>{{section.header}}</h1>
    <h4>{{section.subtitle}}</h4>
    <p>{{section.body}}</p>
  </div>
  <div class="d-flex flex-row flex-wrap align-content-between pt-0" id="content">
    <img class="img-fluid w-25 p-4" *ngFor="let sponsor of sponsors" src={{sponsor}}>
  </div>
  <div id="content">
    <h1>Locations</h1>
    <h5>Atlanta, GA:</h5>
    <p>1730 Northeast Expressway NE <br>
      Atlanta, GA 30329</p>
    <h5>Tampa, Fl:</h5>
    <p>4710 North Habana Ave. Suite 304 <br>
      Tampa, FL 33614</p>
    <h5>Hours:</h5>
    <p>Monday – Friday <br> 8:00am – 4:30pm</p>
    <h5>Contact Info:</h5>
    <p><i class="fas fa-phone"></i> Phone : 678-883-6897 / 678-552-3640<br>
      <i class="fas fa-print"></i> Fax : 678-550-8877<br>
      <i class="fas fa-envelope"></i> Email : info@rarediseaseresearch.com
    </p>
  </div>
</body>