/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

h1 {
    color: rgb(103, 47, 156);
    font-family: 'Raleway', sans-serif;
}
h4 {
  color: rgb(103, 47, 156);
  font-family: 'Open Sans', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}
#content {
    padding: 5em;
    padding-left: 20%;
    padding-right: 20%;
}
.format #content:nth-child(odd) {
    //color: rgba($color: #551a77, $alpha: 1.0);
    background-color: rgb(240, 218, 240);
}
.carousel-control-prev-icon {
    &::after {
      content: '\f053';
      font-weight: $font-weight-bold;
      font-family:  'Font Awesome 6 Free';
      font-size: 1.7rem;
    }
  }
  .carousel-control-next-icon {
    &::after {
      content: '\f054';
      font-weight: $font-weight-bold;
      font-family:  'Font Awesome 6 Free';
      font-size: 1.7rem;
    }
  }
.btn {
  background-color: rgb(103, 47, 156);
  color: white;
}