<header>
    <!-- Navbar -->
    <app-top-bar></app-top-bar>
    <!-- Navbar -->
    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="
        background-image: url('assets/images/RDR\ mountains..jpg');
        height: 625px;
      ">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3 display-2">Rare Disease Research</h1>
                    <h4 class="mb-3">Supporting research through exceptional clinical trial experience</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>

<body class="text-center">
    <div id="content">
        <h1>Leadership</h1>
        <div class="d-flex flex-row flex-wrap justify-content-evenly">
            <app-card class="mb-3" *ngFor="let leader of leaders" [card]="leader">
            </app-card>
        </div>
    </div>
    <div id="content">
        <h1>Resident Nurses</h1>
        <div class="d-flex flex-row flex-wrap justify-content-evenly">
            <app-card class="mb-3" *ngFor="let nurse of nurses" [card]="nurse">
            </app-card>
        </div>
    </div>
    <div id="content">
        <h1>Clinical Staff</h1>
        <div class="d-flex flex-row flex-wrap justify-content-evenly">
            <app-card class="mb-3" *ngFor="let staff of clinic" [card]="staff">
            </app-card>
        </div>
    </div>
    <div id="content">
        <h1>Administrative and Regulatory Staff</h1>
        <div class="d-flex flex-row flex-wrap justify-content-evenly">
            <app-card class="mb-3" *ngFor="let staff of admin" [card]="staff">
            </app-card>
        </div>
    </div>
</body>