<nav class="navbar navbar-expand-lg navbar-light ">
    <a routerLink="/">
        Insert Image Here
    </a>
    <!-- Dropdown 1 -->
    <ul class="navbar-nav">
        <!-- Dropdown Header -->
        <li mdbDropdown class="nav-item dropdown">
            <a
            class="nav-link dropdown-toggle"
            routerLink="/"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
            >
                About
            </a>
        <!-- Dropdown Items -->
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" routerLink="/about-us">About Us</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">Contact</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/team">Team</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">Apply</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">News</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Dropdown 2 -->
    <ul class="navbar-nav">
        <!-- Dropdown -->
        <li mdbDropdown class="nav-item dropdown">
            <a
            class="nav-link dropdown-toggle"
            routerLink="/"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
            >
                Patient Info
            </a>
            <!-- Dropdown Items -->
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" routerLink="/">Clinical Information</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">FAQs</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Dropdown 3 -->
    <ul class="navbar-nav">
        <!-- Dropdown -->
        <li mdbDropdown class="nav-item dropdown">
            <a
            class="nav-link dropdown-toggle"
            routerLink="/"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
            >
                Trials
            </a>
            <!-- Dropdown Items -->
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" routerLink="/">Current</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">Upcoming</a>
                </li>
            </ul>
        </li>
    </ul>
    <a class="dropdown-item" routerLink="/collab" routerLinkActive="active">
        Collaboration
    </a>
</nav>