<nav class="navbar navbar-expand-lg navbar-light ">
    <a routerLink="/">
        Insert Image Here
    </a>
    <!-- Dropdown 1 -->
    <ul class="navbar-nav">
        <!-- Dropdown Header -->
        <li mdbDropdown class="nav-item dropdown">
            <a
            class="nav-link dropdown-toggle"
            routerLink="/"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
            >
                Dropdown 1
            </a>
        <!-- Dropdown Items -->
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" routerLink="/">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">Another action</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">Something else here</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Dropdown 2 -->
    <ul class="navbar-nav">
        <!-- Dropdown -->
        <li mdbDropdown class="nav-item dropdown">
            <a
            class="nav-link dropdown-toggle"
            routerLink="/"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
            >
                Dropdown 2
            </a>
            <!-- Dropdown Items -->
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" routerLink="/">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">Another action</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">Something else here</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Dropdown 3 -->
    <ul class="navbar-nav">
        <!-- Dropdown -->
        <li mdbDropdown class="nav-item dropdown">
            <a
            class="nav-link dropdown-toggle"
            routerLink="/"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
            >
                Dropdown 3
            </a>
            <!-- Dropdown Items -->
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" routerLink="/">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">Another action</a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="/">Something else here</a>
                </li>
            </ul>
        </li>
    </ul>
    <a class="dropdown-item" routerLink="/">
        Link
    </a>
  </nav>