<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img
        src="assets/images/RDR Logo (3).jpg"
        height="50"
        alt=""
        loading="lazy"
      />
        </a>
        <button class="navbar-toggler" type="button" (click)="basicNav.toggle()" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" mdbCollapse #basicNav="mdbCollapse">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li mdbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        mdbDropdownToggle aria-expanded="false">
                        About
                    </a>
                    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item"  routerLink="/about-us">Mission & Vision</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/team">Meet our Team</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Research News</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Careers</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/contact">Contact</a>
                        </li>
                    </ul>
                </li>
                <!-- Dropdown -->
                <li mdbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        mdbDropdownToggle aria-expanded="false">
                        Patient Information
                    </a>
                    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Trial Information</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/faq">FAQ</a>
                        </li>
                    </ul>
                </li>
                <!-- Dropdown -->
                <li mdbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        mdbDropdownToggle aria-expanded="false">
                        Trials
                    </a>
                    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" routerLink="/active-trial">Active Trials</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Upcoming Trials</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/collab">Collaborate with Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div *ngIf="pic" class="p-5 text-center bg-image" style="
        background-image: url('{{pic}}');
        height: 625px; width:100%;
      ">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.3);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3 display-2">Rare Disease Research</h1>
                    <h4 class="mb-3">Supporting research through exceptional clinical trial experience</h4>
                </div>
            </div>
        </div>
    </div>